<span><img src="assets/imagenes/logoMathFinderCalculator.png"></span>
<header class="sticky">
  <section class="sidenav-container" >
  <a routerLink="bonus-calculator" routerLinkActive="bonus-calculator" mat-raised-button class="button">
    <span>Calculador</span>
  </a>
  <a routerLink="person-managment" routerLinkActive="person-managment" class="button">
    <span>Personajes</span>
  </a>
  <a routerLink="bonus-managment" routerLinkActive="bonus-managment" class="button">
    <span>Bonus</span>
  </a>
  </section>
</header>

