<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Datos del perso </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field style="width: 300px; margin: 50px auto; display: block">
    <input
      type="text"
      [(ngModel)]="personajeSeleccionado"
      placeholder="Elige perso si no quieres teclear"
      matInput
      [formControl]="formControl"
      [matAutocomplete]="auto2"
      (ngModelChange)="cargarPersonaje()"
    />
    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
      <mat-option *ngFor="let item1 of autoFilter | async" [value]="item1">
        {{ item1 }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>DATOS BÁSICOS</mat-card-header>
      <mat-card-content>
        <mat-form-field class="campoGrande">
          <input
            matInput
            id="nombre"
            name="nombre"
            [(ngModel)]="personaje.nombre"
            type="text"
          />
          <mat-label>NOMBRE</mat-label>
        </mat-form-field>
        <br>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="nivel"
            name="nivel"
            [(ngModel)]="personaje.nivel"
            type="text"
          />
          <mat-label>NIVEL</mat-label>
        </mat-form-field>

        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="pg"
            name="pg"
            [(ngModel)]="personaje.pg"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>PGOLPE</mat-label>
        </mat-form-field>

        <br />

        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="fue"
            name="fue"
            [(ngModel)]="personaje.fue"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>FUE</mat-label>
        </mat-form-field>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="des"
            name="des"
            [(ngModel)]="personaje.des"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>DES</mat-label>
        </mat-form-field>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="car"
            name="car"
            [(ngModel)]="personaje.car"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>CAR</mat-label>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <mat-card-header>ATAQUE Y DAÑO</mat-card-header>
      <mat-card-content>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="atqBase"
            name="atqBase"
            [(ngModel)]="personaje.atqBase"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>ATQ BASE</mat-label>
        </mat-form-field>
        <br />
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="atq1"
            name="atq1"
            [(ngModel)]="personaje.atq1"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>ATQ1</mat-label>
        </mat-form-field>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="atq2"
            name="atq2"
            [(ngModel)]="personaje.atq2"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>ATQ2</mat-label>
        </mat-form-field>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="atq3"
            name="atq3"
            [(ngModel)]="personaje.atq3"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>ATQ3</mat-label>
        </mat-form-field>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="atq4"
            name="atq4"
            [(ngModel)]="personaje.atq4"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>ATQ4</mat-label>
        </mat-form-field>
        <br />

        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="dano"
            name="dano"
            [(ngModel)]="personaje.dano"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>DAÑO</mat-label> </mat-form-field
        >+
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="danoAdicional"
            name="dano"
            [(ngModel)]="danoAdicional"
            type="text"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>Adicional</mat-label>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <mat-card-header>CA Y SALVACIONES</mat-card-header>
      <mat-card-content>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="ca"
            name="ca"
            [(ngModel)]="personaje.ca"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>CA</mat-label>
        </mat-form-field>
        <br>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="tsfort"
            name="tsfort"
            [(ngModel)]="personaje.tsfor"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>TS FORT</mat-label>
        </mat-form-field>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="tsref"
            name="tsref"
            [(ngModel)]="personaje.tsref"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>TS REF</mat-label>
        </mat-form-field>
        <mat-form-field class="campoPequeno">
          <input
            matInput
            id="tsvol"
            name="tsvol"
            [(ngModel)]="personaje.tsvol"
            type="number"
            (ngModelChange)="recalcularBonos()"
          />
          <mat-label>TS VOL</mat-label>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Bonus Disponibles </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-slide-toggle labelPosition="before"
    *ngFor="let bonus of bonusExistentes"
    (click)="activarBono(bonus)"
    >{{ bonus.nombre }}: </mat-slide-toggle
  >
</mat-expansion-panel>
<div fxLayout="row wrap" fxLayoutGap="16px">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <p>ATAQUE Y DAÑO:</p>
      <mat-radio-group
        [(ngModel)]="personaje.tipAtq"
        (change)="recalcularBonos()"
      >
        <mat-radio-button value="CC">Cuerpo a Cuerpo 1 Mano</mat-radio-button>
        <mat-radio-button value="CC2">Cuerpo a Cuerpo 2 Manos</mat-radio-button>
        <mat-radio-button value="DI">Ataque a distancia</mat-radio-button>
      </mat-radio-group></mat-card-header
    >
    <mat-card-content>
      <h1>
        Ataques: {{ personaje.atq1 }}/{{ personaje.atq2 }}/{{
          personaje.atq3
        }}/{{ personaje.atq4 }}
      </h1>

      <h1>Daño:{{ personaje.dano }}+{{ danoAdicional }}</h1>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-header>SALVACIONES</mat-card-header>
    <mat-card-content>
      <h2>TS Fortaleza:{{ personaje.tsfor }}</h2>
      <h2>TS Reflejos:{{ personaje.tsref }}</h2>
      <h2>TS Voluntad:{{ personaje.tsvol }}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-header>CA</mat-card-header>
    <mat-card-content>
      <h1>CA:{{ personaje.ca }}</h1>
    </mat-card-content>
  </mat-card>
</div>
